<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<div class="row">
    
    <h3>Predicted Disease :</h3>
    {{value}}
    </div>
    <hr/>
    <div class="row">
    <h3>Disease Data</h3>
    {{treat}}
</div>
    
</div>


<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
{{!-- <script type="text/javascript" src="/scripts/addpatient.js"></script> --}}
